<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.email %></h2>
        <h2 class="media-heading">Number of sign-ins: <%= @user.sign_in_count %></h2>
      </div>
    </div>
  </div>
</div>

<h2>Form</h2>
<%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>

<h2>Items</h2>
<%= render @user.items %>
